{% extends 'base.html' %}

{% block content %}
<div class="DTE">
    <img src="../static/images/2022-09-05%2018_16_19-DTE%20Power%20Control%20X%20_%20Gorilla%20Chiptuning%20Center.%20De%20nummer%201%20in%20Chiptuning.%20Chip.png">
</div>
<hr style="background-color: white; margin: 0; height: 5px; opacity: 1;">
<h2 class="subtitles" style="color: white; margin: 2vh">DTE Power control X</h2>
<p class="infotext">
    Best conditions for highest performance with DTE tuning DTE Systems is a leader in the technological development of engine tuning. With the newly developed PowerControl X and RX performance tuning boxes and an innovative technology platform, all engines can be optimized for the first time, from common-rail diesel to turbo gasoline engine, hybrid to the latest bi-turbo hybrids with analog and digital SENT technology.
    DTE tuning: with more power comes a good warranty package The DTE power boxes, PowerControl X and RX , are equipped with a comprehensive service and safety package. For all X-Series performance tuning boxes, drivers receive a comprehensive 5-year product warranty. Thus, DTE Systems underlines its claim for the highest tuning quality " Made in Germany".
</p>

<h2 class="subtitles" style="color: white; margin: 4vh 0vh 2vh 2vh; text-align: left">Benefits</h2>
<div class="benefitlist">
    <ol>
        <li>Easy to plug in and out for maintenance.</li>
        <li>Developed, tested on a dyno.</li>
        <li>Includes a 5-year software update service for all DTE products.</li>
        <li>Parts certificates available for over 3,600 vehicles.</li>
        <li>30-day money-back guarantee from date of purchase.</li>
    </ol>
</div>

{% endblock %}