{% extends 'base.html' %}

{% block content %}
<div class="imgboxPopsBangs">
    <div class="introduction">
        <h2>What are <span style="color: red;">Pops and bangs</span> ?</h2>
    </div>
    <p class="infotext">
        Pops and bangs are a big hit at the moment and of course you can have this technology applied to your car by Ecu-Soft. Would you like your car to give loud bangs while driving away? We also call this Pops & Bangs, Crackles, Burble on overrun or Schubblubbern.
        The pops occur when fuel explodes in the exhaust when the gas is released. The technology is designed to keep the engine revving as soon as you stop accelerating. The engine will respond much more immediately which is nice, but we still find that most people apply pops and bangs for the cool sound!
    </p>
    <div class="introduction">
        <button type="button" class="btn btn-dark"><a href="../appointment" style="color: white; text-decoration: none;">Make an appointment</a></button>
    </div>
</div>
<hr style="background-color: white; margin: 0; height: 5px; opacity: 1;">


{% endblock %}