{% extends 'base.html' %}

{% block content %}
<div class="imgboxCT">
    <div class="introduction">
        <h2>What is <span style="color: red;">Chiptuning</span> ?</h2>
    </div>
    <p class="infotext">
    With chip tuning, the performance increase is clearly in the foreground. The increase in power and torque, not only in the high torque range, but especially in the lower and medium torque range, and combined with the rise in force across the entire speed range, ensure that the engine responds much better to throttle movements and the car becomes more dynamic and agile.
    With our chip tuning, performance differences, start-up, and acceleration problems are a thing of the past. With a defensive driving style, fuel will also be saved here. We offer this chip tuning for all common car brands.
    </p>
    <div class="introduction">
        <button type="button" class="btn btn-dark"><a href="../appointment" style="color: white; text-decoration: none;">Make an appointment</a></button>
    </div>
</div>
<hr style="background-color: white; margin: 0; height: 5px; opacity: 1;">
<div class="advantages">
    <h2 class="subtitles" style="color: white;"><span style="color: green">Advantages</span></h2>
    <br/>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h2 class="subtitles" style="color: white;">1. Increase in performance</h2>
            <p class="infotext">Engine chip tuning can be done to remove limits that are placed on your engine by the manufacturer. This can result in a variety of different results, depending on how you modify the chip. You can gain greater horsepower, and thus a greater top speed and a faster rate of acceleration, or you can prioritize fuel efficiency, helping you save money at the pump over time.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h2 class="subtitles" style="color: white;">2. Ease of Installation</h2>
            <p class="infotext">Unlike performance parts, engine chip tuning is done with a single chip. This means that a mechanic can provide the service to you very easily and quickly, with very little manual labor. Not only does this result in a quicker installation time, it can help save you money on the installation process itself.</p>
        </div>
    </div>
</div>
<hr style="background-color: white; margin: 0; height: 5px; opacity: 1;">
<div class="disadvantages">
    <h2 class="subtitles" style="color: white;"><span style="color: #9a2222">Disadvantages</span></h2>
    <br/>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h2 class="subtitles" style="color: white;">1. Engine Stress</h2>
            <p class="infotext"> Because it removes the limits that the manufacturer has placed on the engine, tuning your engine chip can result in a greater amount of stress on the engine. Over time, this can lead to greater amounts of wear and tear and increases the risk of something becoming damaged within the engine, which can be extremely expensive to replace. Additionally, even if the engine does not become damaged, increased horsepower and greater engine stress also places greater stress on other parts of your vehicle, such as the air filter or coolant system, which can result in a greater amount of maintenance. This is why it is very important to make sure you chip tune your vehicle by a trusted company or individual who knows how to do it correctly and uses the right software for it. NEVER tune your vehicle with an outdated software which can damage your car severely.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <h2 class="subtitles" style="color: white;">2. Warranties</h2>
            <p class="infotext">Directly related to the above point, having your engine chip tuned can cause problems for any warranties you may hold on your vehicle or engine. However, this largely depends on the manufacturer and model of car and whether or not you get the process done with an accredited mechanic. This is because the limits that the manufacturer has placed on the engine are designed to ensure a safe driving experience that won't damage the engine. Check your owner's manual or call a mechanic or dealership to find out if tuning your engine chip could pose any problems. </p>
        </div>
    </div>
</div>
{% endblock %}